<!DOCTYPE html>
	<html>
		<head>
		<link rel="icon" href="http://adrifelcha.github.io/BlackBunny.png">
			<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">My work</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:adrifelcha@gmail.com">email</a></li>
	        		<li><a href="https://github.com/BouzasLab25/PAPIME2016">github.com/BouzasLab25/PAPIME2016</a></li>
				</ul>
			</footer>
		</body>
	</html>
